.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #cccccc;
}

.logo {
  background-image: url("/src/images/company_logo.png");
  background-repeat: no-repeat;
  height: 60px;
  background-position: left;
  background-size: 140px;
  width: 100%;
  overflow: hidden;
}

.logo img {
  margin: 0 auto;
}

.select-view {
  min-width: 100px;
}

img {
  width: 150px;
  height: 150px;
  margin-left: 200px;
}

.department_menu {
  width: 50px;
  height: 50px;
}

.toolbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  gap: 3px;
}

.card-rows {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
}

.machine-card {
  background-color: rgb(249, 249, 249);
  box-shadow: 1px 1px 4px #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: calc(33% - 40px);
  min-width: 250px;
  max-width: 300px;
  text-align: center;
}

.header-card {
  text-align: center;
  font-weight: bold;
}

.status-card {
  color: #fff;
  border-radius: 15px;
  box-shadow: 1px 1px 4px #ccc;
  text-align: center;
  margin-right: 10px;
  padding: 5px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.status-card-1 {
  color: #100d0d;
  background-color: #fff;
  box-shadow: 1px 1px 4px #ccc;
  font-weight: bold;
  border-radius: 15px;
  text-align: center;
  margin-right: 10px;
  padding: 5px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.monitor-card {
  box-shadow: 3px 3px 4px #ccc;
  padding: 10px;
  margin: 10px;
  min-width: 240px;
  text-align: center;
  border-radius: 0.5em;
  border: 1px solid #fff;
  border-width: 1px 1px 1px 16px;
  color: #fff;
}

.monitor-header {
  text-align: center;
}

.monitor-card-row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  gap: 5px;
}

.content-container {
  min-height: 300px;
}

.dx-box-item-content {
  justify-content: center;
}

.dx-drawer-wrapper {
  min-height: 400px;
}
